
{% extends "SiteBlogBundle::layout.html.twig" %}

{% block title %}
	Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block siteblog_body %}

	<h2>Ajouter une annonce</h2>

	{{ include("SiteBlogBundle:Advert:form.html.twig") }}

	<p>
		Vous ajoutez une annonce.
	</p>

{% endblock %}